<%- include('comunes/header',{titulo:'Crear- Hacienda'}) %>


<br>
<br>
<div class="container">
    <% var creando = typeof hacienda === "undefined" ? true : false; %>

    <h1 align="center"> <%= creando ? 'Crear' : 'Actualizar' %> Hacienda</h1>
    <p align="center"><%= creando ? 'Creando' : 'Actualizando' %> una hacienda.</p>

    <form action="/Hacienda/<%= creando ? 'crear' : 'actualizar' %>-hacienda/<%= creando ? '' : hacienda.id %>"
          method="POST">
        <div class="row">
            <div class="col-sm-3">

                <label for="nombre">Hacienda sdfasdfas</label>
            </div>
            <div class="col-sm-6">
                <input id="nombre"
                       value="<%= creando ? '' : hacienda.nombre %>"
                       name="nombre" type="text">
            </div>

        </div>

        <div class="row">
            <div class="col-sm-3">

                <label for="direccion">Direccion</label>
            </div>
            <div class="col-sm-6">
                    <textarea name="direccion"
                              id="direccion"
                              cols="30"
                              rows="3"><%= creando ? '' : hacienda.direccion %>
                    </textarea>

            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">

                <label for="telefono">Telefono</label>
            </div>
            <div class="col-sm-6">
                <input id="telefono"
                       value="<%= creando ? '' : hacienda.telefono %>"
                       name="telefono" type="number">
            </div>

        </div>
        <div class="row">
            <div class="col-sm-3">

                <label for="region">Region</label>
            </div>
            <div class="col-sm-6">
                <select class="custom-select-sm" id=region name="region">
                    <label selected for="region">Region...</label>
                    <% arregloRegiones.forEach((regiones)=>{ %>
                        <option value=<%= regiones.id %>>
                            <%= regiones.nombre %>
                        </option>

                    <% }) %>
                </select>
            </div>

        </div>
<br>

        <div class="col-sm-3">

            <button class="btn btn-outline-info btn-block btn-espaciado" type="reset">Resetear formulario</button>


        </div>

<br>
        <div align="center">
            <div class="col-sm-6">

                <button class="btn btn-outline-success btn-espaciado btn-block"
                        onclick="validarNombre(event)"><%= creando ? 'Crear' : 'Actualizar' %> Hacienda
                </button>
            </div>

        </div>
<br>
    </form>
    <div  align="center">
        <div class="col-sm-6">


            <a href="/Hacienda/hacienda">
                <button class="btn btn-outline-danger btn-block btn-espaciado">Regresar</button>
            </a>
        </div>

    </div>

</div>
<br>

<%- include('comunes/librerias') %>
<%- include('comunes/footer') %>

